/* colours */
:root {
  --primary: #FFE9D2;
  --secondary: #FFE1C4;
  --title: #FF8816;
}

/* layout styles */
nav {
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}

nav a {
  text-transform: uppercase;
  color: var(--title);
}

nav a span {
  font-weight: bold;
}

nav .sidenav-trigger {
  margin: 0;
}

/* bet styles */
.bets {
  margin-top: 20px;
}

.card-panel.bet {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 10px;
  position: relative;
  box-shadow: 0px 1px 3px rgba(90, 90, 90, 0.1);
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "avatar details actions";
  align-items: center;
}

.bet img {
  grid-area: avatar;
  max-width: 60px;
}

.bet-particulars {
  grid-area: details;
}

.bet-actions i {
  grid-area: actions;
  font-size: 24px;
  align-content: space-between;
}

.bet-player,
.bet-type {
  font-weight: bold;
}

.bet-type,
.bet-sum,
.bet-date {
  font-size: 0.8em;
}

/* form styles */
.add-btn {
  background: var(--title);
  position: fixed;
  bottom: 20px;
  left: 50%;
  box-shadow: 1px 1px 3px rgba(90, 90, 90, 0.2);

}

.side-form button {
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90, 90, 90, 0.2);
}

input {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

form .input-field {
  margin-top: 30px;
}
